/* 
         Common
   ============================ */
/****** Fonts ******/
:root {
  --main-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
  --main-font-style: normal;
}

/******** Color Palette *********/
:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f42;
  --grey: #2e2f42;
  --white: #ffffff;
  --dairy: #fcfcfc;
}

body {
  font-family: var(--main-font);
  background-color: var(--white);
  color: var(--slate);
}

/* 
       Reset Configurations
   ============================ */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
  display: inline-block;
}

/* ============================
         Main Container 
   ============================ */
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/* 
       Common Section styles 
   ============================ */

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/*
       Header 
============================*/

.header-section-block {
  display: flex;
  justify-content: space-between;
}

.header {
  /* box-sizing: border-box; */
  border-bottom: 1px solid #e7e9fc;
  width: 100%;
}

/* --------
         Logo Header
----------*/
.logo {
  font-family: var(--logo-font);
  box-sizing: border-box;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: var(--iris);

}

span {
  color: var(--navy-blue);
}

.logo-header {
  margin-right: 76px;

}

/* --------
         Header Navigation
----------*/
.header-logo {}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav-list {
  display: flex;
  gap: 40px;
}

.header-nav-link {
  display: block;
  box-sizing: border-box;
  font-weight: 500;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: var(--grey);
  padding: 24px 0;
}

.header-nav-link:active,
.header-nav-link:focus,
.header-nav-link:hover {
  color: var(--ocean);
}

.navigation-list {}

/* --------
         Address
----------*/

address {
  font-style: normal;
}

.header-adress-list {
  display: flex;
  gap: 40px;
}

.address-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  padding: 24px 0;
}

.address-text:focus,
.address-text:hover {
  color: var(--ocean);
}

/* 
       Section 1  - Hero 
   ============================ */
.hero-section-block {
  background-color: var(--navy-blue);
  padding: 188px 0;
}

.hero-title-btn {
  display: flex;
}

.hero-section-title {
  text-align: center;
  display: block;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  font-style: var(--main-font-style);
  max-width: 496px;
  color: var(--white);
  margin: 0 auto;
  margin-bottom: 46px;
}

.hero-btn {
  font-style: var(--main-font-style);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--iris);
  color: var(--white);
  cursor: pointer;
  border-radius: 4px;
  border: none;
  min-width: 169px;
  height: 56px;
  display: block;
  margin: 0 auto;
}

.hero-btn:focus,
.hero-btn:hover {
  background-color: var(--ocean);
}

/* 
       Section 2 - Benefits
   ============================ */
.benefits-section {}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits-list {
  display: flex;
  gap: 24px;
}

.benefits-item {
  /*  max-width: 264px; */
  flex: content;
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.benefits-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.benefits-list-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* 
       Section 3 - Team Card
   ============================ */

.team-section-block {
  background-color: var(--cloud);
}

.team-card-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  /*  min-width: fit-content; */
}

.team-card {
  background-color: var(--white);
  width: calc((100% - 72px) / 4);
  padding-bottom: 32px;
  /*  max-width: 264px; */
  /* height: 380px; */
  /* flex: content; */
  border-radius: 0px 0px 4px 4px;
}

.team-image {}

.team-card-item {
  padding: 32px 0;
}

.team-card-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  text-align: center;
  margin-bottom: 8px;
}

.team-card-role {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

/* 
         Section 4 - Portfolio 
   ============================ */

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}

.portfolio-card {
  width: calc((100% - 48px) / 3);
  /* padding-bottom: 32px; */
}

.portfolio-img {
  /* margin-bottom: 32px; */
}

.portfolio-block {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.portfolio-card-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* 
       Footer 
   ============================ */
.footer-block {
  background-color: var(--navy-blue);
  padding: 100px 0;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  width: 264px;
}

.footer-link {
  margin-bottom: 16px;
}

/* --------
         footer Logo
----------*/
.footer-logo {
  color: var(--cloud);
}